.h1{
    float: left;
    width:25%;
    height: 540px;
    background: blue;
    text-align:center;
    padding-top:30px;
    color:white;
}
.left{
    float: right;
    width:70%;
    padding-left:20px 
}